@viewport {
	width: device-width;
	zoom: 1.0;
}

html, body {
	font-family: Ubuntu, -apple-system, BlinkMacSystemFont, 'Segoe UI', Tahoma, Geneva, Verdana, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 12px;
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

code {
	font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
	background-color: rgba(220, 224, 228, 0.20);
	border-radius: 6px;
	padding: .2em .4em;
	margin: 0;
	box-sizing: border-box;
	font-size: 85%;
}

#particle-canvas {
	width: 100%;
	height: 100%;
}

.Center {
	z-index: 50;
	position: absolute;
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
	background-color: rgb(153, 80, 80);
	border-radius: 0.5rem;
	max-width: 50rem;
	width: 100vw;
}

.logo {
	margin-top: 1rem;
	text-align: center;
}

/*
Hide the mobile logo by default
*/

.logo .mobile {
	display: none;
}

/* 
When the screen is less than 330px wide (Galaxy Fold)
	Show the mobile version and hide the desktop one.
*/

@media (max-width: 330px) {
	.logo .mobile {
		display: block;
		margin-left: 8.5rem;
	}
	.logo .desktop {
		display: none;
	}
}

p, h3 {
	text-align: center;
	color: aliceblue;
	font-size: 20px;
	line-height: 2.7rem;
	padding-left: 1rem;
	padding-right: 1rem;
}

#countdown {
	text-align: center;
	color: aliceblue;
	font-size: 20px;
	line-height: 2.7rem;
	padding-left: 1rem;
	padding-right: 1rem;
	padding-bottom: 1rem;
	font-weight: bolder;
}

a {
	display: inline-block;
	position: relative;
	text-decoration: none;
	color: inherit;
	z-index: 1;
}

a::after {
	content: '';
	position: absolute;
	left: 0;
	bottom: .07em;
	height: .1em;
	width: 100%;
	background: linear-gradient(110deg, #e1f549, #29d0be, #6cb8ea, #ff5959);
	z-index: -1;
	transition: height .25s cubic-bezier(.6, 0, .4, 1);
}

a:hover::after {
	height: 0.3em;
}